/* .entry-cover {
    min-width: 40%;
    max-width: 40%;
    margin-right: var(--gap);
    margin-top: 5px;
    float: left;
}

@media screen and (max-width: 768px) {
    .entry-cover {
        min-width: 100%;
        max-width: 100%;
        margin-right: 0;
        margin-top: 0;
        float: none;
    }
} */

.entry-cover img {
    max-height: 70vh;
    margin-right: auto;
    margin-left: auto;
    width: auto;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    .entry-cover img {
        max-height: unset;
        width: auto;
        max-width: 100%;
    }
}