.post-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-entry {
    display: flex;
    min-width: 49%;
    max-width: 49%;
}

@media screen and (max-width: 900px) {
    .post-entry {
        min-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .post-list .post-entry {
        flex-direction: column;
    }

    .post-list .post-entry figure {
        min-width: 100%;
        max-width: 100%;
        margin-right: auto;
        margin-bottom: var(--gap);
    }
}

.post-entry.post-category {
    background: var(--post-category-entry);
    height: fit-content;
}

.post-entry .text {
    display: flex;
    flex-direction: column;
}

.post-entry figure {
    max-width: 30%;
    min-width: 30%;
    margin-bottom: 0;
    margin-right: var(--gap);
    align-self: center;
}

/* Latest posts on homepage */
.post-list.post-list-latest {
    flex-direction: column;
}

.post-list.post-list-latest .post-entry {
    min-width: 100%;
    max-width: 100%;
}

.post-list.post-list-latest .post-entry a {
    box-shadow: initial;
}

.post-list.post-list-latest .post-entry.post-list-latest-more {
    min-width: fit-content;
    max-width: fit-content;
    margin-left: auto;
    padding: 15px;
}

.post-list.post-list-latest .post-entry.post-list-latest-more span {
    margin-left: auto;
    margin-right: auto;
}

.post-list.post-list-latest header h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
}

.post-list.post-list-latest .entry-content {
    -webkit-line-clamp: initial;
    font-size: inherit;
}

@media screen and (max-width: 768px) {
    .post-list.post-list-latest .post-entry.post-list-latest-more {
        min-width: 100%;
        max-width: 100%;
    }

    .post-list.post-list-latest .entry-content {
        -webkit-line-clamp: 2;
    }
}