.post-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.post-entry {
    display: flex;
    min-width: 100%;
}

@media screen and (min-width: 900px) {
    .post-entry {
        min-width: 49%;
        max-width: 49%;
    }
}

.post-entry.post-category {
    background: var(--post-category-entry);
    height: fit-content;
}

.post-entry .text {
    display: flex;
    flex-direction: column;
}

.post-entry figure {
    max-width: 40%;
    margin-bottom: 0;
    margin-right: 5px;
    align-self: center;
}
