{{- if .IsTranslated -}}
{{- if and (ne .Layout "search") (ne .Layout "post-category") }}
{{- if or .Params.author site.Params.author (.Param "ShowReadingTime") (not .Date.IsZero) }}&nbsp;|&nbsp;{{- end -}}
{{- end }}
{{- i18n "translations" | default "Translations" }}:
<ul class="i18n_list">
    {{- range .Translations }}
    {{ if (not (.Param "HideThisTranslation")) }}
    <li>
        <a href="{{ .Permalink }}">
            {{- if (and site.Params.displayFullLangName (.Language.LanguageName)) }}
            {{- .Language.LanguageName | emojify -}}
            {{- else }}
            {{- .Lang | title -}}
            {{- end -}}
        </a>
    </li>
    {{ end }}
    {{- end }}
</ul>
{{- end -}}
