{{ $sizes := (slice "250" "480" "800" "1200" "1500") }}
{{ $imageproxy := "http://localhost:8080" }}

<figure{{ with .Get "class" }} class="{{ . }}" {{ end }}>
    {{- if .Get "link" -}}
        <a href="{{ .Get "link" }}" {{ with .Get "target" }} target="{{ . }}" {{ end }}{{ with .Get "rel" }} rel="{{ . }}" {{ end }}>
    {{- else -}}
        <a href="{{ $imageproxy }}/insecure/original/plain/local://{{ .Get "src" }}" target="_blank"{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
    {{- end }}

    <img
        sizes="(max-width: 600px) 250px, (max-width: 768px) 480px, (max-width: 900px) 800px, (max-width: 1200px) 1200px, 1500px"

        srcset="
        {{ range $sizes }}
            {{ $imageproxy }}/insecure/{{ (printf "t_%s" .) }}/plain/local://{{ $.Get "src" }} {{ (printf "%sw" .) }},
        {{ end }}
        "
        
        {{/* when no support for srcset (old browsers, RSS), we load average thumbnail */}}
        src="{{ $imageproxy }}/insecure/t_800/plain/local://{{ .Get "src" }}"

        {{ if (isset .Params "loading") }}
            {{- with .Get "loading" }}
                loading="{{ . }}"
            {{ end -}}
        {{ else }}
            loading="lazy"
        {{ end }}
        
        {{- if or (.Get "alt") (.Get "caption") }}
            alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
        {{- end -}}
        
        {{- with .Get "width" }}
            width="{{ . }}"
        {{ end -}}

        {{- with .Get "height" }}
            height="{{ . }}"
        {{ end -}}

        {{ with .Get "img-class" }}
            class="{{ . }}"
        {{ end }}
    /> <!-- Closing img tag -->

</a>

{{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") -}}
    <figcaption>
        {{ with (.Get "title") -}}
            <h4>{{ . }}</h4>
        {{- end -}}
        
        {{- if or (.Get "caption") (.Get "attr") -}}
            <p>
                {{- .Get "caption" | markdownify -}}
                {{- with .Get "attrlink" }}<a href="{{ . }}">{{- end -}}
                {{- .Get "attr" | markdownify -}}
                {{- if .Get "attrlink" }}</a>{{ end }}
            </p>
        {{- end }}
    </figcaption>
{{- end }}
</figure>
